.footer-info {
  /* background-color: #383838; */
  background: linear-gradient( #38383800, #383838);
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.info-Carol,
.info-Bruno,
.info-John {
  width: 33%;
  padding: 20px;
  text-align: center;
}
.info-Carol,
.info-Bruno {
  border-right: 2px solid #4B79A1;
}
.info-Carol p,
.info-Bruno p,
.info-John p {
  color: #f3f2f2;
  font-size: 1.8rem;
  padding: 10px;
}

.info-Carol a,
.info-Bruno a,
.info-John a {
  color: #f3f2f2;
  padding: 10px;
}

.info-Carol a:hover,
.info-Bruno a:hover,
.info-John a:hover {
  color: #f3564b;
}
