/*Style CSS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");
/* https://coolors.co/124e78-0b132b-1c2541-5bc0be-6fffe9 */

* {
  margin: 0;
  padding: 0;
}

/* :root {
  --dark-grey: #383838;
  --light-yellow-bg: #fbe8b3;
  --dark-blue: #264caa;
  --yankees-blue: #58aae7;
  --sea-serpent: #8cd6f4;
  --aquamarine: #c1ecf8;
  --react: #dde9f7;
  --white-bg: #fcfcfc;
} */

body {
  font-family: "Montserrat", sans-serif;
  font-family: 'Paytone One', sans-serif;
  background-image: linear-gradient(to right, #283E51, #4B79A1);
  min-height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100%;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.search-box {
  display: flex;
  width: 450px;
  border: none;
  position: relative;
  height: 60px;
  background: var(--dark-blue);
  border-radius: 5px;
  box-shadow: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: text;
}

form {
  display: flex;
  flex-direction: row;
}
